ADwin
contourpy
cycler
fonttools
importlib_resources
kiwisolver
matplotlib
mpmath
numexpr
numpy
packaging
pillow
pyparsing
PyQt5
PyQt5-Qt5
PyQt5_sip
PyQt6
PyQt6-Qt6
PyQt6_sip
python-dateutil
scipy
setuptools
six
sympy
wheel
